<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JS validation</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <input class="input" type="text" name='txt'>
    <p class="output"></p>

    <script type="" src="/my-app/public/javascripts/main.js">
      // const input = document.querySelector('.input')
      // const output = document.querySelector('.output');

      // vocabulary = {
      //   link: "You have entered link!",
      //   email: 'You have entered email!',
      //   nickName: 'You have entered Nickname'
      // };

      // input.addEventListener('keyup', () => {
        
      //   output.innerHTML = this.value.replace(
      //   /\b\w+@\w+\.\w+\b/, (match, value) => {
      //     return vocabulary[link];
      //   }
      //     );
      // }, false);
  </script>
  </body>
</html>
