<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JS validation</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
  </head>
  <body>
    
        <input class="input" type="text" name='txt'>
        <p class="output"></p>
        <script type="">
            const input = document.getElementsByClassName('input')
            const output = document.getElementsByClassName('output');

            input.addEventListener('keyup'), () => {
            output.innerHTML = this.value;
            }, false;
        </script>
    </form>
  </body>
</html>
